!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.hintstyle:          hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt*depth:            32
URxvt.geometry:         90x30

! Fake Transparency
!URxvt.transparent:		false

!URxvt.urgentOnBell:		true
!URxvt.visualBell:		true
URxvt.loginShell:		true
URxvt.saveLines:		1000
URxvt.internalBorder:		3
URxvt.lineSpace:		-1

! Fonts

Emacs.font:				Essential PragmataPro-12
URxvt.allow_bold:		true

!! Terminus for Powerline
!URxvt*font: 			-xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*boldFont:		-xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*letterSpace: 		-1

!! Tamsyn
URxvt.font:                 	-misc-tamsyn-medium-r-normal--16-116-100-100-c-80-iso8859-1
URxvt.boldFont:         	-misc-tamsyn-bold-r-normal--16-116-100-100-c-80-iso8859-1
URxvt.italicFont:           	-misc-tamsyn-medium-r-normal--16-116-100-100-c-80-iso8859-1
URxvt.boldItalicFont: 		-misc-tamsyn-bold-r-normal--16-116-100-100-c-80-iso8859-1

!! EnvyPN
!URxvt*font:				-ypn-envypn-medium-*-normal--15-150-75-75-c-90-iso8859-1
!Xterm*font:				-ypn-envypn-medium-*-normal--15-150-75-75-c-90-iso8859-1

!! Envy Code R
!URxvt*font:				xft:envy code r for powerline:regular:pixelsize=16
!URxvt*italicFont:		xft:envy code r:italic:pixelsize=16
!URxvt*boldFont:			xft:envy code r:bold:pixelsize=16
!URxvt*boldItalicFont:	xft:envy code r:bold:italic:pixelsize=16

!! Source Code Pro
!URxvt*font: 			xft:source code pro for powerline:regular:pixelsize=18antialias=false
!URxvt*imFont: 			xft:source code pro for powerline:regular:pixelsize=18:antialias=false
!URxvt*boldFont: 		xft:source code pro for powerline:semibold:pixelsize=18:antialias=false
!URxvt*italicFont: 		xft:source code pro for powerline:italic:pixelsize=18:antialias=false
!URxvt*boldItalicFont: 	xft:source code pro for powerline:semibold:italic:pixelsize=18:antialias=false
!URxvt*letterSpace: 		-2

! Inconsolata
!URxvt*font: 			xft:inconsolata:regular:pixelsize=18
!URxvt*imFont: 			xft:inconsolata:regular:pixelsize=18
!URxvt*boldFont: 		xft:inconsolata:bold:pixelsize=18
!URxvt*letterSpace: 		-1*/

!! Ubuntu Mono
!URxvt*font:				xft:ubuntu mono derivative powerline:regular:pixelsize=16
!URxvt*imFont: 			xft:ubuntu mono derivative powerline:regular:pixelsize=16
!URxvt*boldFont: 		xft:ubuntu mono derivative powerline:bold:pixelsize=16
!URxvt*italicFont: 		xft:ubuntu mono derivative powerline:italic:pixelsize=16
!URxvt*boldItalicFont: 	xft:ubuntu mono derivative powerline:bold:italic:pixelsize=16
!URxvt*letterSpace: 		-1

!! Bispoid
!URxvt*font:				-misc-bispoid-medium-r-normal--17-160-72-72-c-80-iso10646-1
!URxvt*boldFont:			-misc-bispoid-bold-r-normal--17-160-72-72-c-80-iso10646-1

!! Hermit
!URxvt*font:				xft:hermit for powerline:regular:pixelsize=16
!URxvt*boldFont:			xft:hermit for powerline:bold:pixelsize=16
!URxvt*italicFont:		xft:hermit for powerline:italic:pixelsize=16
!URxvt*boldItalicFont:	xft:hermit for powerline:bold:italic:pixelsize=16

!! PragmataPro
!URxvt*font:				xft:Essential PragmataPro:regular:pixelsize=16
!URxvt*letterSpace:		-1

! Scrollbar
URxvt.scrollStyle:      rxvt
URxvt.scrollBar:        false

! Perl extensions
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1
URxvt.urlLauncher:      uzbl-browser

! Cursor
URxvt.cursorBlink:      true
URxvt.cursorUnderline:  false

! Pointer
URxvt.pointerBlank:     false

! Fix Home/End
URxvt*keysym.Home: 		\033[1~
URxvt*keysym.End: 		\033[4~

! Colors
! Foreground/Background/Cursor
*.foreground:	#dfc38f
*.background:   [75]#432d0d
*.cursorColor:	#dfc38f

! Black
*.color0:       #3b3630
*.color8:       #8a7e71

! Red
*.color1:       #694754
*.color9:       #b57b90

! Green
*.color2:       #666947
*.color10:      #afb47a

! Yellow
*.color3:       #623b1f
*.color11:      #b59150

! Blue
*.color4:       #465968
*.color12:      #7897b1

! Magenta
*.color5:       #604669
*.color13:      #a87ab5

! Cyan
*.color6:       #446561
*.color14:      #78b4ab

! White
*.color7:       #616162
*.color15:      #dfc38f

!-------------------------------------------------
!		Rofi Settings
!-------------------------------------------------

rofi.lines: 5
rofi.eh: 2
rofi.padding: 200
rofi.fullscreen: true
rofi.width 50
rofi.bw: 0
rofi.separator-style: none
rofi.hide-scrollbar: true

!                  'background', 'border', 'separator'
rofi.color-window: argb:f263491e, #63491e, #dfc38f
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: argb:f263491e, #dfc38f, argb:f21d1807, argb:f2432d0d, #dfc38f 
!rofi.font: (will do later) 
